Repository danieleschmidt/pg-neo-graph-rl, changes with the owners that CODEOWNERS names for each.
All owners: @maintainer-team, @algorithm-team, @core-team, @environment-team, @docs-team, @devops-team, @security-team

CODEOWNERS:

# Global owners
* @maintainer-team

# Core algorithms
/pg_neo_graph_rl/algorithms/ @algorithm-team
/pg_neo_graph_rl/core/ @core-team

# Environments and simulations
/pg_neo_graph_rl/environments/ @environment-team

# Documentation
/docs/ @docs-team
*.md @docs-team

# CI/CD and infrastructure
/.github/ @devops-team
/docker/ @devops-team
Dockerfile @devops-team
docker-compose*.yml @devops-team

# Security and configuration
/security/ @security-team
.pre-commit-config.yaml @security-team
pyproject.toml @maintainer-team

# Tests require broader review
/tests/ @maintainer-team @algorithm-team

[AUTO-VALUE] Update blinker from 1.7.0 to 1.9.0
  .terragon/autonomous-executor.py
  .terragon/config.yaml
  .terragon/execution-metrics.json
  .terragon/value-engine.py
  BACKLOG.md
Owners: @maintainer-team, @docs-team

[AUTO-VALUE] Update blinker from 1.7.0 to 1.9.0
  .terragon/execution-metrics.json
Owners: @maintainer-team

[AUTO-VALUE] Update blinker from 1.7.0 to 1.9.0
  .terragon/execution-metrics.json
Owners: @maintainer-team

[AUTO-VALUE] Update blinker from 1.7.0 to 1.9.0
  .terragon/execution-metrics.json
Owners: @maintainer-team

[AUTO-VALUE] Update blinker from 1.7.0 to 1.9.0
  .terragon/execution-metrics.json
Owners: @maintainer-team

[AUTONOMOUS-SDLC] Implement comprehensive value discovery and core package structure
  .gitignore
  .terragon/execute-core-implementation.py
  BACKLOG.md
  pg_neo_graph_rl/__init__.py
  pg_neo_graph_rl/algorithms/__init__.py
  pg_neo_graph_rl/algorithms/graph_ppo.py
  pg_neo_graph_rl/algorithms/graph_sac.py
  pg_neo_graph_rl/communication/__init__.py
  pg_neo_graph_rl/communication/aggregation.py
  pg_neo_graph_rl/communication/gossip.py
  pg_neo_graph_rl/core/__init__.py
  pg_neo_graph_rl/environments/__init__.py
  pg_neo_graph_rl/environments/power_grid.py
  pg_neo_graph_rl/environments/swarm.py
  pg_neo_graph_rl/environments/traffic.py
  pg_neo_graph_rl/monitoring/__init__.py
  pg_neo_graph_rl/monitoring/metrics.py
  pg_neo_graph_rl/networks/__init__.py
  pg_neo_graph_rl/networks/graph_networks.py
  pg_neo_graph_rl/networks/temporal_attention.py
Owners: @maintainer-team, @docs-team, @algorithm-team, @core-team, @environment-team

chore(backlog): update backlog metrics and item counts
  BACKLOG.md
Owners: @docs-team

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/0001-use-jax-for-ml-backend.md
  docs/adr/0002-gossip-protocol-for-federated-learning.md
  docs/adr/0003-graph-neural-network-architecture.md
  docs/adr/README.md
  docs/adr/template.md
  docs/guides/README.md
Owners: @docs-team

feat: setup development environment and code quality tools
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env.example
  .vscode/extensions.json
  .vscode/tasks.json
  pyproject.toml
Owners: @devops-team, @maintainer-team

test: establish comprehensive testing infrastructure
  .gitignore
  pytest.ini
  tests/fixtures/__init__.py
  tests/fixtures/graph_data.py
  tests/integration/test_end_to_end.py
  tests/unit/test_graph_utils.py
  tests/utils.py
Owners: @maintainer-team, @algorithm-team

build: add containerization and build automation
  scripts/build.py
  scripts/deploy.py
  scripts/release.py
Owners: @maintainer-team

feat: setup monitoring and observability configuration
  docker/grafana/dashboards/pg-neo-overview.json
  docker/grafana/provisioning/dashboards/dashboard.yml
  docker/grafana/provisioning/datasources/prometheus.yml
  docker/prometheus.yml
  docker/prometheus_rules.yml
  pg_neo_graph_rl/monitoring/__init__.py
  pg_neo_graph_rl/monitoring/health.py
  pg_neo_graph_rl/monitoring/logging_config.py
  pg_neo_graph_rl/monitoring/metrics.py
  pg_neo_graph_rl/monitoring/tracing.py
Owners: @devops-team, @maintainer-team

🔄 [CHECKPOINT-6] Complete Workflow Documentation & Templates
  docs/workflows/examples/cd.yml
  docs/workflows/examples/ci.yml
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/security-scan.yml
Owners: @docs-team

🤖 [CHECKPOINT-7] Complete Metrics & Automation Setup
  config/README.md
  docs/AUTOMATION.md
  requirements-automation.txt
  scripts/automated_reporting.py
  scripts/automation_orchestrator.py
  scripts/integration_manager.py
  scripts/metrics_collector.py
  scripts/monitoring_dashboard.py
Owners: @docs-team, @maintainer-team

[CHECKPOINT-1] Complete Project Foundation & Documentation
  docs/PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/001-federated-architecture.md
  docs/adr/README.md
  docs/adr/template.md
  docs/guides/README.md
Owners: @docs-team

[CHECKPOINT-2] Complete Development Environment & Tooling
  .devcontainer/devcontainer.json
  .env.example
  .license-header.txt
  .markdownlint.json
  pyproject.toml
Owners: @maintainer-team

[CHECKPOINT-3] Complete Testing Infrastructure Enhancement
  tests/conftest.py
  tests/fixtures/test_data.py
  tests/utils.py
  tox.ini
Owners: @maintainer-team, @algorithm-team

[CHECKPOINT-4] Complete Build & Containerization Enhancement
  docker-compose.yml
  docker/grafana/provisioning/dashboards/dashboard.yml
  docker/grafana/provisioning/datasources/prometheus.yml
  scripts/build.sh
  scripts/docker-utils.sh
Owners: @devops-team, @maintainer-team

[CHECKPOINT-6] Complete Workflow Documentation & Templates
  docs/workflows/SETUP_REQUIRED.md
  docs/workflows/examples/cd.yml
  docs/workflows/examples/ci.yml
  docs/workflows/examples/dependency-update.yml
  docs/workflows/examples/security-scan.yml
Owners: @docs-team

[CHECKPOINT-8] Complete Integration & Final Configuration
  docs/IMPLEMENTATION_SUMMARY.md
  docs/TROUBLESHOOTING.md
Owners: @docs-team

[CHECKPOINT-5] Complete Monitoring & Observability Setup
  docs/monitoring/README.md
  docs/monitoring/health-checks.md
  docs/runbooks/README.md
  docs/runbooks/deployment.md
  docs/runbooks/incident-response.md
Owners: @docs-team

Update README.md
  README.md
Owners: @docs-team

feat(deployment): add production deployment setup and infrastructure
  DEPLOYMENT_GUIDE.md
  deployment/docker-compose.production.yml
  deployment/production_setup.sh
  examples/basic_traffic_example.py
  pg_neo_graph_rl/algorithms/graph_ppo.py
  pg_neo_graph_rl/algorithms/graph_sac.py
  pg_neo_graph_rl/communication/__init__.py
  pg_neo_graph_rl/communication/aggregation.py
  pg_neo_graph_rl/communication/gossip.py
  pg_neo_graph_rl/core/__init__.py
  pg_neo_graph_rl/core/federated.py
  pg_neo_graph_rl/environments/__init__.py
  pg_neo_graph_rl/environments/power_grid.py
  pg_neo_graph_rl/environments/swarm.py
  pg_neo_graph_rl/environments/traffic.py
  pg_neo_graph_rl/monitoring/__init__.py
  pg_neo_graph_rl/monitoring/metrics.py
  pg_neo_graph_rl/networks/__init__.py
  pg_neo_graph_rl/networks/graph_networks.py
  pg_neo_graph_rl/networks/temporal_attention.py
  pg_neo_graph_rl/optimization/__init__.py
  pg_neo_graph_rl/optimization/cache.py
  pg_neo_graph_rl/optimization/memory.py
  pg_neo_graph_rl/optimization/performance.py
  pg_neo_graph_rl/utils/__init__.py
  pg_neo_graph_rl/utils/exceptions.py
  pg_neo_graph_rl/utils/health.py
  pg_neo_graph_rl/utils/logging.py
  pg_neo_graph_rl/utils/security.py
  pg_neo_graph_rl/utils/validation.py
  tests/test_core_functionality.py
Owners: @docs-team, @devops-team, @maintainer-team, @algorithm-team, @core-team, @environment-team

docs(implementation-summary): add comprehensive implementation summary document
  IMPLEMENTATION_SUMMARY.md
Owners: @docs-team

feat(research): add comprehensive breakthrough research modules and reports
  AUTONOMOUS_RESEARCH_COMPLETION_REPORT.md
  RESEARCH_BREAKTHROUGH_SUMMARY.md
  pg_neo_graph_rl/research/__init__.py
  pg_neo_graph_rl/research/adaptive_topology.py
  pg_neo_graph_rl/research/causal_discovery.py
  pg_neo_graph_rl/research/experimental_framework.py
  pg_neo_graph_rl/research/neuromorphic_computing.py
  pg_neo_graph_rl/research/performance_optimization.py
  pg_neo_graph_rl/research/quantum_optimization.py
  pg_neo_graph_rl/research/temporal_memory.py
  research_validation.py
Owners: @docs-team, @maintainer-team

feat(examples, core): add robust, scaling, and simple demos; enhance federated core with monitoring and security
  examples/robust_demo.py
  examples/scaling_demo.py
  examples/simple_demo.py
  pg_neo_graph_rl/__init__.py
  pg_neo_graph_rl/algorithms/graph_ppo.py
  pg_neo_graph_rl/algorithms/graph_sac.py
  pg_neo_graph_rl/core/federated.py
  pg_neo_graph_rl/core/types.py
  pg_neo_graph_rl/environments/power_grid.py
  pg_neo_graph_rl/environments/swarm.py
  pg_neo_graph_rl/environments/traffic.py
  pg_neo_graph_rl/networks/graph_networks.py
  pg_neo_graph_rl/optimization/performance.py
  pg_neo_graph_rl/research/causal_discovery.py
  pg_neo_graph_rl/research/experimental_framework.py
  pg_neo_graph_rl/research/neuromorphic_computing.py
  pg_neo_graph_rl/research/performance_optimization.py
  pg_neo_graph_rl/research/quantum_optimization.py
  pg_neo_graph_rl/research/temporal_memory.py
  pg_neo_graph_rl/utils/health.py
  pg_neo_graph_rl/utils/security.py
  pg_neo_graph_rl/utils/validation.py
Owners: @maintainer-team, @algorithm-team, @core-team, @environment-team

feat(cli): add comprehensive command-line interface for pg-neo-graph-rl
  AUTONOMOUS_IMPLEMENTATION_REPORT.md
  examples/robust_demo.py
  examples/scaling_demo.py
  pg_neo_graph_rl/algorithms/graph_sac.py
  pg_neo_graph_rl/cli.py
  pg_neo_graph_rl/optimization/advanced_cache.py
  pg_neo_graph_rl/optimization/auto_scaler.py
  pg_neo_graph_rl/training/__init__.py
  pg_neo_graph_rl/training/cli.py
  pg_neo_graph_rl/training/config.py
  pg_neo_graph_rl/training/trainer.py
  pg_neo_graph_rl/utils/health.py
  tests/benchmarks/test_performance.py
  tests/integration/test_federated_learning.py
  tests/integration/test_graph_environments.py
Owners: @docs-team, @maintainer-team, @algorithm-team

feat(autonomous-sdlc): add full autonomous SDLC implementation with deployment and monitoring
  AUTONOMOUS_IMPLEMENTATION_FINAL_REPORT.md
  Dockerfile
  deployment/config/training_config.yaml
  deployment/healthcheck.py
  deployment/production.yml
  pg_neo_graph_rl/communication/advanced_protocols.py
  pg_neo_graph_rl/environments/power_grid.py
  pg_neo_graph_rl/monitoring/alerting.py
  pg_neo_graph_rl/optimization/auto_scaling.py
  pg_neo_graph_rl/optimization/performance_profiler.py
  pg_neo_graph_rl/utils/backup.py
  pg_neo_graph_rl/utils/exceptions.py
  pg_neo_graph_rl/utils/fault_tolerance.py
  pg_neo_graph_rl/utils/security.py
  pg_neo_graph_rl/utils/validation.py
Owners: @docs-team, @devops-team, @maintainer-team, @environment-team

feat(research): add breakthrough autonomous AI capabilities and demos
  BREAKTHROUGH_AUTONOMOUS_EXECUTION_REPORT.md
  examples/breakthrough_demo.py
  pg_neo_graph_rl/research/__init__.py
  pg_neo_graph_rl/research/autonomous_meta_learning.py
  pg_neo_graph_rl/research/causal_aware_federated_learning.py
  pg_neo_graph_rl/research/multimodal_fusion.py
  pg_neo_graph_rl/research/quantum_optimization.py
  pg_neo_graph_rl/research/self_evolving_architectures.py
Owners: @docs-team, @maintainer-team

feat(deployment): add production-grade deployment infrastructure and automation
  .github/workflows/production-deployment.yml
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  FINAL_IMPLEMENTATION_GUIDE.md
  deployment/docker/Dockerfile
  deployment/docker/docker-compose.yml
  deployment/kubernetes/application.yaml
  deployment/kubernetes/hpa.yaml
  deployment/kubernetes/namespace.yaml
  deployment/monitoring/alert_rules.yml
  deployment/monitoring/prometheus.yml
  deployment/production_deployment.py
  deployment/scripts/deploy.sh
  deployment/scripts/rollback.sh
  deployment/terraform/main.tf
  deployment/terraform/variables.tf
  pg_neo_graph_rl/monitoring/advanced_metrics.py
  pg_neo_graph_rl/monitoring/real_time_dashboard.py
  pg_neo_graph_rl/networks/graph_networks.py
  pg_neo_graph_rl/optimization/distributed_compute.py
  pg_neo_graph_rl/optimization/production_optimizer.py
  pg_neo_graph_rl/utils/circuit_breaker.py
  tests/test_production_suite.py
Owners: @devops-team, @docs-team, @maintainer-team, @algorithm-team

feat(deployment): complete autonomous SDLC implementation with production deployment
  GITHUB_ACTIONS_SETUP_REQUIRED.md
  docs/workflows/SETUP_GITHUB_ACTIONS.md
  docs/workflows/production-deployment.yml
Owners: @docs-team

feat(quality_gates): add comprehensive quality gates for production readiness
  bandit_report.json
  examples/scaling_demo.py
  pg_neo_graph_rl/algorithms/graph_ppo.py
  pg_neo_graph_rl/core/federated.py
  pg_neo_graph_rl/networks/graph_networks.py
  pg_neo_graph_rl/research/experimental_framework.py
  pg_neo_graph_rl/utils/security.py
  quality_gates.py
  tests/test_production_suite.py
Owners: @maintainer-team, @algorithm-team, @core-team

feat(monitoring): add real-time dashboard for monitoring system metrics
  benchmark_results.json
  coverage.json
  pg_neo_graph_rl/monitoring/real_time_dashboard.py
  pg_neo_graph_rl/optimization/auto_scaling.py
  pg_neo_graph_rl/optimization/distributed_compute.py
  pg_neo_graph_rl/utils/exceptions.py
  quality_gates.py
  tests/test_production_suite.py
Owners: @maintainer-team, @algorithm-team

feat(research): add comprehensive autonomous research breakthroughs and validation
  RESEARCH_COMPLETION_REPORT.md
  breakthrough_validation_summary.json
  pg_neo_graph_rl/research/causal_architecture_search.py
  pg_neo_graph_rl/research/experimental_validation_framework.py
  pg_neo_graph_rl/research/neuromorphic_quantum_hybrid.py
  pg_neo_graph_rl/research/publication_benchmarking_suite.py
  pg_neo_graph_rl/research/quantum_causal_federated_learning.py
  run_breakthrough_validation.py
  run_simplified_validation.py
  simplified_validation_summary.json
Owners: @docs-team, @maintainer-team

feat(deployment): add comprehensive production deployment infrastructure
  bandit_report.json
  deploy/Dockerfile
  deploy/docker-compose.yml
  deploy/kubernetes.yml
  deploy/production_deployment_guide.md
Owners: @maintainer-team, @devops-team, @docs-team

refactor(research): refactor imports and improve random key usage in evaluation
  pg_neo_graph_rl/research/autonomous_meta_learning.py
  pg_neo_graph_rl/research/performance_optimization.py
  pg_neo_graph_rl/research/quantum_optimization.py
Owners: @maintainer-team

feat(research): add comprehensive research validation framework and tests
  pg_neo_graph_rl/algorithms/graph_ppo.py
  pg_neo_graph_rl/environments/traffic.py
  pg_neo_graph_rl/optimization/__init__.py
  pg_neo_graph_rl/utils/exceptions.py
  research_breakthrough_validation.py
  research_validation_results.json
  research_validation_simple.py
  test_basic_functionality.py
  test_generation3_simple.py
  tests/test_comprehensive_suite.py
  tests/test_scalability_performance.py
Owners: @algorithm-team, @environment-team, @maintainer-team

test(integration): add basic integration tests for pg-neo-graph-rl
  research_validation_results.json
  tests/test_basic_integration.py
Owners: @maintainer-team, @algorithm-team

feat(distributed_compute): add new distributed compute manager and quality gates validation
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  deployment/docker-compose.yml
  pg_neo_graph_rl/optimization/distributed_compute.py
  quality_gates_report.json
  quality_gates_validation.py
Owners: @docs-team, @devops-team, @maintainer-team

feat(federated-graph-rl): add complete multi-generation federated graph RL demos and final report
  FINAL_AUTONOMOUS_EXECUTION_REPORT.md
  basic_federated_demo.py
  robust_federated_demo.py
  scaling_federated_demo.py
  simple_scaling_demo.py
Owners: @docs-team, @maintainer-team
